.p1{color: red;font-size: 50px;line-height: 30px; text-transform: lowercase;}

p{color: coral;font-size: 40px;}
h1{color: blue;font-size: 50px;}
h2{color: yellow; font-size: 30px;}
a :link{color: red;} /* unvisited*/
a:visited{color: green;}/*visited*/
a:hover{color: hotpink;} /*mouse over link*/
div{
    background-color: green;
    text-align: center;
    width: 100%;
    height: 700%;

}